<%- include('partials/head'); %>

<table class="table" id="stats_table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Predicted value</td>
            <td>Actual value</td>
        </tr>
    </thead>
    <tbody>
        <% data.forEach((history) => { %>
        <tr>
            <td> <%= history.id %> </td>
            <td> <%= history.record.prediction.y_pred %> </td>

            <% if(history.record.prediction.user_pred == '1'){ %>
            <td> Correct prediction </td>
            <% } %>

            <% if (history.record.prediction.user_pred == '0') { %>
            <td> Incorrect prediction </td>
            <% } %>

            <% if (history.record.prediction.user_pred == '-1') { %>
            <td> Unknown status </td>
            <% } %>

        </tr>
        <% }); %>
    </tbody>
</table>

<%- include('partials/footer', {js: 'stats'}); %>